.clear{
    clear: both;
}

/*NAVBAR*/
.header .navbar-custom {
    background: #fff;
    border: none;
    padding: 10px 0;
    margin: 0;
}

.header .navbar-custom .navbar-brand span{
   color: #00e0d0;
    font-weight: bold;
}

header .navbar-collapse a {
    color: #353535;
}

/*FIM NAVBAR*/





/*CAROSEL ISLIDER*/
.carousel-indicators .active{
    background: #00e0d0;
}

.leia-mais {
    border: 1px solid #00e0d0;
    padding: 8px 20px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
}

.leia-mais:hover {
    text-decoration: none;
    color: #00e0d0;
    border: 1px solid #fff;
}

.carousel-caption {
    bottom: 100px;
}

/*END ACROSEL SLIDER*/




/*SERVICOS*/
.servicos i{
    font-size: 50px;
    text-align: center;
    display: block;
    color: #00e0d0;
}

.servicos{
    margin-top: 60px;
}
/*FIM SERVIÇOS*/





/*SOBRE*/
.sobre{
    background: url(assets/images/slider-01.jpg) fixed;    
    background-repeat: no-repeat;
    padding: 30px 0;
    margin-top: 60px;
}

.sobre p{
    color: #fff;
}

.sobre h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

/*FIM SOBRE*/




/*BLOG*/
.blog .title-blog{
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.blog{
    padding: 30px 0;
}

.blog a{
    color: #333;
    opacity: 0.7;
}

.blog a:hover{
    opacity: 1;
}


.blog .link{
    margin: 0 auto;
    width: 150px;
}

.blog .link a:hover{
    color: #00e0d0;
}

/*FIM BLOG*/

.header-internas {
    background: url(assets/images/bg-internas.jpg) center top;
    padding: 40px 0;
    margin-bottom: 40px;
}

.header-internas h2{
    color: #fff;
    text-transform: uppercase;
    font: normal;
}

.header-internas #crumbs {
    color: #fff;
    text-align: right;
    margin-top: 20px;
}
.header-internas #crumbs a{
    color: #00e0d0;
}

/*FOOTER*/
.footer{
    background: url(assets/images/bg-footer.jpg) center top;
    padding: 30px 0;
    color: #fff;
}

.footer {
    color: #fff;
}

/*FORMULÁRIO*/
.footer .frm_form_fields label{
    display: none !important;
}

.footer .frm_form_fields .form-field{
    float: left;
    width: 250px;
}

.footer .frm_form_fields .form-field input{
    border: 1px solid #9994ac;
    background: transparent !important;
    border-radius: 0 !important;
}

.footer .frm_form_fields .frm_submit{
    float: left;
    width: 40px;
    clear: none !important;
}

.footer .frm_form_fields .frm_submit input{
    margin: 0 !important;
    background: #25183f; /* mudar a cor para #45346a */
    color: #00e0d0;
    text-transform: uppercase;
    border: none !important;
    box-shadow: none !important;
    padding: 10px; /*    tirar*/
    height: 32px;/*    tirar*/
}

.footer .frm_form_fields .frm_submit input:hover{
    background: #00e0d0;
    color: #45346a;
}
/*FIM FOOTER*/